// -----------------------------------------------------------------------------
//  ST: Config
// -----------------------------------------------------------------------------

// Base
// -----------------------------------------------------------------------------

@base-color: @color-neutral-dark;
@base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
@base-font-size: 16px;
@base-line-height: 1.5;
@base-border-radius: 3px;

// Headings
// -----------------------------------------------------------------------------

@headings-color: @color-neutral-darker;
@headings-font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Grid
// -----------------------------------------------------------------------------

@grid-gutter-size: @space-horizontal-lg;

// Space
// -----------------------------------------------------------------------------

// Horizontal
@space-horizontal: 30px;

// Vertical
@space-vertical: 25px;

// Media query breakpoints
// -----------------------------------------------------------------------------

@mq-sm-min-width: 24em;
@mq-md-min-width: 48em;
@mq-lg-min-width: 62em;
@mq-xl-min-width: 72em;

// Off-canvas
// -----------------------------------------------------------------------------

@offcanvas-offset-top: 65px;

// Colours
// -----------------------------------------------------------------------------

// Neutral
@color-neutral-darker: #1e1e1e;
@color-neutral-dark: #605e5e;
@color-neutral: #b9b9b9;
@color-neutral-light: #c9c9c9;
@color-neutral-lighter: #ededed;
@color-neutral-lightest: #f7f7f7;

// Primary
@color-primary-darker: #032032;
@color-primary-dark: #003e63;
@color-primary: #257aab;
@color-primary-light: #1784c6;
@color-primary-light: #4faae1;

// Secondary
@color-secondary: #ffc938;
@color-secondary-dark: #d99605;
