// Config
// -----------------------------------------------------------------------------

@minima-path: "../../../../profiles/gk/libraries/minima/src/less";

@import "@{minima-path}/config.less";
@import "config.less";

body,
.body {
  background-color: @color-neutral-light;
}

h1, h2, h3, h4, h5, h6 {
  color: @color-primary-dark;
  font-family: @headings-font-family;
  font-weight: 400;
}

p,
li,
.prose td {
  color: @base-color;
  font-size: @base-font-size + 0px;
  font-family: @base-font-family;
  line-height: 1.5;
}

p {
  margin-bottom: 20px;
  margin-top: 0;
}

.prose > tr > td {
  padding-bottom: 20px;
  text-align: center;
  color: @base-color;
}

// Header.
.header {
  .container {
    background-color: @color-neutral-darker;
  }
}

// Banner.
.banner {
  .wrapper {
    padding-top: 0;
  }
  .columns td {
    padding: 0;
  }
}

// Content.
.content {
  .container {
    background: #fff;
  }
}

.content__body {
  width: 100%;

  > tr > td {
    padding: 10px 20px 0;
  }
}

// Footer.
.footer {
  .container {
    background-color: @color-neutral-darker;
  }

  td {
    color: @color-neutral-light;
    font-family: @base-font-family;
    font-size: 12px;
    line-height: 1.5;
  }
}

// Buttons
table {
  .button,
  .tiny-button,
  .small-button,
  .medium-button,
  .large-button {
    margin-left: auto;
    margin-right: auto;

    td {
      background: @color-primary;
      border: 0;

      a {
        color: #fff;
        font-family: @base-font-family;
        font-size: @base-font-size + 0px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  .medium-button {
    width: 50%;
  }
}

.confirm-details__cta {
  table.medium-button td {
    background-color: transparent;
  }
}

// Rewards: Confirm details.
table.container .confirm-details {
  > table.row {
    display: table;
  }
}
