/* ==========================================================================
   ST: Rotate
   ========================================================================== */

/*
   Rotate right 90 deg
   -------------------------------------------------------------------------- */

.a-rotateRight90 {
  animation-name: rotateRight90;
}

@keyframes rotateRight90 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

/*
   Rotate left 90 deg
   -------------------------------------------------------------------------- */

.a-rotateLeft90 {
  animation-name: rotateLeft90;
}

@keyframes rotateLeft90 {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
