/* ==========================================================================
   ST: Slide
   ========================================================================== */

/*
   Slide up
   -------------------------------------------------------------------------- */

.a-slideUp {
  animation-name: slideUp;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

/*
   Slide down
   -------------------------------------------------------------------------- */

.a-slideDown {
  animation-name: slideDown;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
