/* ==========================================================================
   ST: Base
   ========================================================================== */

body {
  background: @color-neutral-darker;
}

p {
  margin-top: 0;
}

small {
  font-size: 0.75em;
}

hr {
  border-color: @color-primary-dark;
}
