label {
  color: @color-primary;
  font-family: @headings-font-family;
  font-size: 20px;

  .is-required {
    color: #B83A3F;
  }
}

.Form--primary {
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea,
  select {
    border: 0;
    border-bottom: 1px dashed @color-neutral-lighter;
    box-shadow: none;

    &:focus {
      border-bottom: 1px dashed @color-neutral;
      outline: none;
    }

    &.error {
      border-bottom: 1px solid #B83A3F;
    }
  }

  > .Grid,
  > .FormItem {
    background: #fff;
    border-bottom: 1px solid @color-neutral;
    border-top: 1px solid @color-neutral;
    padding: @space-vertical @space-horizontal-sm;
  }

  > .FormItem {
    margin-bottom: @space-vertical;
  }

  .Grid-cell {
    vertical-align: middle;
  }

  .Button {
    display: block;
    margin: 0 auto;
  }
}
