/* ==========================================================================
   ST: Headings
   ========================================================================== */

h2 {
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
}
