/* ==========================================================================
   ST: Box
   ========================================================================== */

.Box--primary {
  background: @color-neutral-lighter;
  box-shadow: 3px 3px @color-neutral;

  .Box-title {
    background: @color-primary;
    color: #fff;
    margin-bottom: 0;
    padding: @space-vertical-sm @space-horizontal;
    text-align: center;
  }

  .Box-content {
    border: 1px solid @color-neutral;
    padding: @space-vertical-lg @space-horizontal-lg;

    @media @mq-xs, @mq-sm {
      padding: @space-vertical @space-horizontal-sm;
    }
  }
}

.Box--locationListCounty {
  .Box-title {
    color: @color-primary-light;
    margin-bottom: 0;
  }

  hr {
    border-color: @color-primary-dark;
    margin-top: 0;
  }
}

.Box--locationListLocality {
  .Box-title {
    color: @color-primary-light;
    font-size: 26px;
    margin-bottom: 0;
    text-transform: initial;
  }

  .Box-content {
    padding: 0;

    li {
      list-style: none;
    }
  }
}
