/* ==========================================================================
   ST: Button
   ========================================================================== */

.Button {
  background: @color-secondary;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 0 @color-secondary-dark, 0 10px 25px rgba(0,0,0,.3);
  color: @color-neutral-darker;
  cursor: pointer;
  display: inline-block;
  font-family: "Glypha W01";
  font-size: 1.2rem;
  line-height: 2;
  padding: @space-vertical-sm @space-horizontal;
  position: relative;
  text-transform: uppercase;
  text-shadow: 1px 1px rgba(255,255,255, .5);
  top: 0;
  transition: 0.2s all;

  &:hover {
    color: @color-primary;
    text-decoration: none;
  }

  &:active {
    box-shadow: 0 2px 0 @color-secondary-dark, 0 3px 5px rgba(0,0,0,.5);
    top: 4px;
  }

  &:focus {
    outline: 0;
  }

  @media @mq-xs, @mq-sm {
    font-size: 1rem;
  }
}

.Button--small {
  font-size: 14px;
  padding: @space-vertical-xs @space-horizontal-sm;
}
