/* ==========================================================================
   ST: Container
   ========================================================================== */

.Container-inner {
  padding-bottom: @space-vertical-lg;
  padding-top: @space-vertical-lg;

  @media @mq-xs, @mq-sm {
    padding-bottom: @space-vertical;
    padding-top: @space-vertical;
  }
}

/* Header */
.Container--header {
  background: @color-neutral-darker;
  box-shadow: 0 0 10px rgba(0,0,0,.7);
  height: 65px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;

  &.is-animated {
    animation-duration: .5s;
    animation-fill-mode: both;
  }

  .Container-inner {
    padding-bottom: @space-vertical-sm;
    padding-top: @space-vertical-sm;
  }

  .Grid-cell {
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.admin-menu .Container--header {
  top: 29px;
}

/* Main */
.Container--main {
  background: @color-primary-dark;
  padding-bottom: @space-vertical-lg;
  padding-top: @space-vertical-lg;

  .Container-inner {
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    border: 15px solid @color-neutral-lighter;
    padding: @space-vertical-lg @space-horizontal-lg;
  }
}

/* Welcome */
.Container--welcome {
  background: @color-primary-dark;
  color: @color-primary;
  font-family: @headings-font-family;
  font-weight: 400;

  .Container-inner {
    padding-bottom: @space-vertical-sm;
    padding-top: @space-vertical-sm;
  }

  p {
    font-size: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* Introduction */
.Container--intro {
  background: @color-primary-dark;
  background: linear-gradient(to bottom, @color-primary-dark 0%, @color-primary 100%);
  border-bottom: 3px solid @color-primary;
  color: @color-neutral-lightest;
  text-align: center;

  h2, h3 {
    color: @color-neutral-lightest;
  }

  @media @mq-md, @mq-lg, @mq-xl {
    background: #044168 url(../images/masthead-banner-bg-img.jpg) center top no-repeat;
  }
}

/* Great prizes*/
.Container--prizes {
  background: @color-primary-darker;
  color: @color-neutral-lightest;

  h2, h3 {
    color: @color-neutral-lightest;
  }

  hr {
    margin-top: 0;
  }

  .Grid--withGutter {
    margin-left: -@space-horizontal-lg;

    > .Grid-cell {
      margin-bottom: @space-vertical-lg;
      padding-left: @space-horizontal-lg;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media @mq-xs, @mq-sm {
    padding-left: @space-horizontal-lg;
    padding-right: @space-horizontal-lg;
  }

  @media @mq-md {
    padding-left: @space-horizontal-xl;
    padding-right: @space-horizontal-xl;
  }

  @media @mq-xl {
    .Container-inner {
      background: radial-gradient(center 320px, 300px 300px, rgba(255,255,255,.2), transparent);
      padding-bottom: @space-vertical-xl;
      padding-top: @space-vertical-xl;
    }
  }
}

/* Great discounts */
.Container--discounts {
  background: @color-primary-dark url(../images/about-st-section-bg.png) left bottom no-repeat;
  color: @color-neutral-lightest;

  h2, h3 {
    color: @color-primary-light;
  }

  hr {
    border-color: @color-primary-light;
  }

  @media @mq-xl {
    .Container-inner {
      background: radial-gradient(75% center, 200px 200px, rgba(255,255,255,.2), transparent);
      padding-bottom: @space-vertical-xl;
      padding-top: @space-vertical-xl;
    }

    .Grid-cell {
      margin-bottom: 0;

      :last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* Where can I use my Season Ticket card? */
.Container--find {
  background: #fff;

  .Container-inner {
    padding-bottom: @space-vertical-sm;
    padding-top: @space-vertical-sm;
  }

  h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0;
    padding-left: 100px;
    position: relative;

    &:before {
      background: url(../images/location-icon.png);
      bottom: -@space-vertical-sm;
      content: ' ';
      display: block;
      height: 108px;
      left: 0;
      position: absolute;
      width: 82px;
    }
  }
}

.Container--locations {
  background: @color-primary-darker;
  color: #fff;
}


/* Register your card */
.Container--register {
  background-color: @color-neutral-light;
  background-repeat: no-repeat;
  background-image: url(../images/form-section-bg-left.png), url(../images/form-section-bg-right.png);
  background-position: left bottom, right top;

  @media @mq-xs, @mq-sm {
    background: none;
    padding: 0;

    .Container-inner {
      padding: 0;
    }
  }
}

/* Follow the action of Facebook */
.Container--follow {
  background: @color-primary-dark url(../images/facebook-section-bg.png) -200px -300px no-repeat;
  color: @color-neutral-lightest;

  h2, h3 {
    color: @color-primary-light;
  }

}

/* Footer */
.Container--footer {
  background: @color-neutral-darker;
  color: @color-neutral-light;

  .Container-inner {
    padding-bottom: @space-vertical-lg;
    padding-top: @space-vertical-lg;
  }

  .Grid-cell {
    font-size: 12px;
  }
}

/* Cookies Message */
.Container--cookiesMessage {
  background: @color-primary-darker;
  bottom: 0;
  box-shadow: 0 0 10px rgba(0,0,0,.7);
  color: @color-neutral-lighter;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10;

  .Container-inner {
    padding-bottom: @space-vertical-sm;
    padding-top: @space-vertical-sm;
  }
}
