/* ==========================================================================
   ST: CookiesMessage
   ========================================================================== */

.CookiesMessage {
  @media @mq-xs, @mq-sm {
    .Grid-cell {
      margin-bottom: @space-vertical-sm;
      text-align: center;
    }
  }
}

.CookiesMessage-title {
  color: @color-neutral-lighter;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.CookiesMessage-message {
  p {
    font-size: 14px;
    margin: 0;
  }
}

.CookiesMessage-options {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;

  @media @mq-xs, @mq-sm {
    text-align: center;
  }
}
