/* ==========================================================================
   ST: Icon
   ========================================================================== */

.Icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  transition: .2s all;
}

.Icon--left {
  margin-right: @space-horizontal-sm;
}

.Icon--right {
  margin-left: @space-horizontal-sm;
}

.Icon--facebook {
  background: url(../images/facebook-icon.png);
}

.Icon--downArrow {
  background: @color-primary url(../images/location-arrow.png) center center no-repeat;
}
