/* ==========================================================================
   ST: Location Toggle
   ========================================================================== */

.LocationToggle {
  font-family: "Glypha W01";
  font-size: 18px;

  &:hover {
    text-decoration: none;

    .Icon {
      animation-duration: .3s;
      animation-fill-mode: both;
      background-color: @color-primary-light;
    }
  }
}
