/* ==========================================================================
   ST: Message
   ========================================================================== */

.Message {
  text-align: center;
}

.Message-title {
  font-size: 96px;
  font-weight: 600;
  text-shadow: 0 0 5px rgba(0,0,0,.5);

  small {
    display: block;
    font-size: 40px;
    font-weight: 500;
  }
}

.Message-description {
  font-family: @headings-font-family;
  font-size: 30px;
}

.Message-image {

}
