/* ==========================================================================
   ST: Nav
   ========================================================================== */

.Nav--mainMenu {
  margin-bottom: 0;
  text-align: center;

  @media @mq-xl {
    text-align: right;
  }

  .Nav-item {
    display: inline-block;

    > a {
      color: @color-neutral-light;
      display: inline-block;
      font-family: @headings-font-family;
      font-weight: 500;
      line-height: 1.7;
      padding-left: @space-horizontal-xs;
      padding-right: @space-horizontal-xs;

      &:hover {
        background: @color-primary;
        color: #fff;
        text-decoration: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    @media @mq-xs, @mq-sm {
      display: block;
    }

    @media @mq-md {
      margin-right: @space-horizontal-xs;
    }

    @media @mq-lg {
      margin-right: @space-horizontal;
    }

    @media @mq-xl {
      margin-right: @space-horizontal;
    }
  }

  .Nav-item--icon > a {
    padding: 0;

    &:hover {
      background: none;
    }
  }
}

.Nav--footerMenu {
  border-bottom: 1px solid @color-neutral-dark;
  padding-bottom: @space-vertical-lg;

  .Nav-item {
    display: inline-block;

    > a {
      color: @color-neutral-dark;
      font-family: @headings-font-family;
      font-size: 18px;
      font-weight: 500;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-last-child(-n+2) {
      //margin-right: 0;
    }

    @media @mq-xs, @mq-sm {
      display: block;
    }

    @media @mq-md {
      margin-right: @space-horizontal;
    }

    @media @mq-lg {
      margin-right: @space-horizontal-lg;
    }

    @media @mq-xl {
      margin-right: @space-horizontal-xl;
    }
  }

  .Nav-item--backToTop {
    background: rgba(0,0,0,.7);
    border-radius: @base-border-radius;
    bottom: @space-vertical-sm;
    color: @color-neutral-lighter;
    padding: @space-vertical-xs @space-horizontal-xs;
    position: fixed;
    right: @space-horizontal-sm;
    text-indent: -999em;

    &:after {
      bottom: 0;
      content: '\2191';
      font-size: 20px;
      left: 0;
      right: 0;
      text-indent: 0;
      top: 0;
      position: absolute;
    }

    &:hover {
      background: @color-primary;
      text-decoration: none;
    }
  }
}
