/* ==========================================================================
   ST: OffCanvas Toggle
   ========================================================================== */

.OffCanvasToggle {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0;
  transition: all .3s;
  user-select: none;
  width: 24px;

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    transition: 0;
    background: rgba(0,0,0,.1);
  }
}

.OffCanvasToggle-lines {
  position: relative;
  vertical-align: middle;

  &,
  &:before,
  &:after {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 3px;
    width: 100%;
    transition: all .3s;
  }

  &:before,
  &:after {
    content: '';
    left: 0;
    position: absolute;
  }

  &:before { top: 9px; }
  &:after { top: -9px; }
}

.OffCanvas.is-open .OffCanvasToggle-lines {
  background: transparent;

  &:before, &:after {
    top: 0;
    transform-origin: 50% 50%;
  }

  &:before {
    transform: rotate3d(0,0,1,45deg);
  }

  &:after{
    transform: rotate3d(0,0,1,-45deg);
  }
}
