/* ==========================================================================
   ST: OffCanvas
   ========================================================================== */

.OffCanvas {
  .admin-menu & {
    top: @offcanvas-offset-top + 29px
  }
}

.OffCanvas-panel {
  background: @color-primary-darker;
  box-shadow: 0 0 10px rgba(0,0,0,.7);

  .Nav {
    text-align: left;
  }

  .Nav-item {
    border-bottom: 1px solid darken(@color-primary-darker, 2%);
    display: block;
    font-size: 21px;
    margin-right: 0;

    &:last-child {
      border-bottom: 0;
    }

    > a {
      display: block;
      padding: @space-vertical-sm @space-horizontal-sm;
    }
  }

  .Nav-item--icon {
    text-align: center;
  }
}

