/* ==========================================================================
   ST: Page
   ========================================================================== */

.Page-noBackground,
.Page--noBackground {
  .Container--main {
    .Container-inner {
      background: transparent;
      box-shadow: none;
      border: 0;
      color: #fff;
      padding: 0;
    }

    h2 {
      color: #fff;

      small {
        color: inherit;
      }
    }
  }
}
