/* ==========================================================================
   ST: Promotion
   ========================================================================== */

.Promotion-image {
  background: @color-primary;
  display: block;
  padding: 3px 3px 0;
  width: 100%;
}

.Promotion-title {
  background: @color-primary;
  padding-bottom: @space-vertical-sm;
  padding-top: @space-vertical-sm;

  @media @mq-lg {
    font-size: .9em;
  }
}

.Promotion-cta {
  margin-top: @space-vertical;
}

/* Highlighted promotions */
.Promotion--highlighted {
  margin-left: -@space-horizontal;
  margin-right: -@space-horizontal;

  .Promotion-image {
    background: @color-secondary;
  }

  .Promotion-title {
    background: @color-secondary;
    color: @color-primary-darker;
    font-size: 1.8rem;
    font-weight: 700;
  }
}

/* Register promotion */
.Promotion--register {
  margin-bottom: @space-vertical-sm;

  .Promotion-title {
    background: none;
    font-size: 12rem;
    font-weight: 800;
    letter-spacing: 20px;
    line-height: 1;
    margin-bottom: @space-vertical-lg;
    padding: 0 0 0 20px;         /* Compensate for letter spacing */
    text-transform: uppercase;

    > small {
      color: @color-neutral-lighter;
      display: block;
      font-size: .6em;
      font-weight: 600;
      letter-spacing: 0;
      margin-left: -20px;       /* Compensate for letter spacing */
    }

    @media @mq-xs {
      font-size: 6rem;
    }

    @media @mq-sm {
      font-size: 9rem;
    }

    @media @mq-xl {
      position: relative;

      &:before,
      &:after {
        bottom: 0;
        content: '';
        display: block;
        position: absolute;
      }

      &:before {
        background: url(../images/carlsberg-logo.png);
        height: 94px;
        left: 0;
        width: 237px;
      }

      &:after {
        background: url(../images/san-miguel-logo.png);
        height: 132px;
        right: 0;
        width: 193px;
      }
    }
  }

  .Promotion-image {
    background: none;
    display: inline-block;
    margin-bottom: @space-vertical-sm;
    width: auto;
  }

  .Promotion-description {
    font-family: @headings-font-family;
    font-weight: 400;
    font-size: 2rem;
    margin: 0 auto;

    @media @mq-xs, @mq-sm {
      font-size: 1.5rem;
      margin-left: 5%;
      margin-right: 5%;
    }

    @media @mq-md {
      margin-left: 10%;
      margin-right: 10%;
    }

    @media @mq-lg {
      margin-left: 20%;
      margin-right: 20%;
    }

    @media @mq-xl {
      margin-left: 30%;
      margin-right: 30%;
    }
  }

  .Promotion-cta {
    margin-top: @space-vertical-lg;
  }
}
