/* ==========================================================================
   ST: SiteName
   ========================================================================== */

.SiteName {
  background: url(/images/season-ticket-logo.png);
  height: 33px;
  margin: @space-vertical-sm auto;
  width: 250px;

  @media @mq-xl {
    margin: 0;
  }
}
